body {
    background-color: wheat;
}

.container {
    max-width: 1000px;   
    display: flex;
    padding: 10px;
    margin-left: 23%;
    margin-top: 9%;
}

img {
    width: 400%;
    height: 80%;
    padding: 60%;
    transition: transform 0.3s; 
 
}

.ClassR {
    margin-right: 55%;
    

  
}

img:hover {
    transform: scale(1.05); 
}

button{
    border-radius: 5px;
}
button:hover {
    background-color: pink;
    color: white;
   
}

p {
    font-size: 20px;
}
